html,
body {
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

/*.footer {*/
    /*height: 60px;*/
    /*background-color: #f5f5f5;*/
    /*border-top: 1px solid #ddd;*/
    /*padding-top: 20px;*/
/*}*/

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.navbar-default.navbar{
    margin-bottom: 0;
    min-height: 70px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    /*min-height: 70px;*/
}

.navbar-nav{
    margin-top: 10px;
}

.navbar-default .navbar-nav > li > a{
    color: #347e4e;
    font-size: 16px;
}

.navbar-brand{
    margin-top: 10px;
}


.navbar-header{
    height: 70px;
}

.navbar-toggle{
    margin-top: 18px;
    margin-bottom: 18px;
}


/**/
.top-info {
    background-color: #DAE9F3;

}



.b-btn_color_ocean:hover {
    background-color: #B0C7D6;
    border-color: #B0C7D6;
}
.b-btn_color_ocean {
    background-color: #BAD2E2;
    border-color: #BAD2E2;
    color: #333;
}
.b-btn_type_ico {
    font-size: 13px;
    font-weight: normal;
    line-height: 16px;
    padding: 6px 14px;
}
.b-btn {
    border-style: solid;
    border-width: 1px;
    display: block;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    padding: 7px 14px;
    height: 30px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-family: inherit;
}
.b-phones-bar__call {
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0;
    border-radius: 0 !important;
    height: 35px !important;
}





/**/



/* PRICING TABLE */
#pricing-plans {
    width: 100%;
    display: block;
}

.flat-section {
    display: block;
    width: 100%;
    padding-top: 115px;
    padding-bottom: 120px;
    position: relative;
}

#pricing-plans .flat-section-title {
    /*width: 60%;*/
}
.flat-section-title {
    width: 100%;
    display: block;
    margin-bottom: 75px;
    position: relative;
}

.flat-section-title h2 {
    font-size: 34px;
    font-weight: 700;
}

.flat-section-subtitle {
    font-size: 20px;
    line-height: 28px;
    margin-top: -12px;
    color: #999;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    width: 70%;
}

.flat-section-title::after {
    content: "";
    width: 100px;
    height: 5px;
    background: #47b475;
    margin-top: 25px;
    display: block;
    margin: auto;
    margin-top:30px;
}

.pricing-table {
    display: block;
    position: relative;
    text-align: center;
    font-size: 12px;
}

.pricing-table-column {
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    top: 0;
    border: 1px solid #ddd;
}

.pricing-table-column-header {
    display: block;
    overflow: hidden;
    background: #fff;
    font-family: "Raleway", sans-serif;
}

.pricing-table-column-header .column-title {
    font-size: 22px;
    background: #fff;
    color: #222;
    padding: 19px 20px;
}

.free-pricing-table-column .pricing-table-column-header .column-price {
    color: #fff;
    background: #47b475;
}
.pricing-table-column-header .column-price {
    font-size: 14px;
    font-weight: 400;
    display: block;
    padding: 21px 20px;
    color: #222;
    background: #eee;
}

ul.single-column-features {
    list-style: none outside;
    display: block;
    padding: 7px 0 0;
    font-size: 16px;
    color: #999;
    width: 100%;
    text-align: left;
}

ul.single-column-features li {
    padding: 10px 20px;
    background: #fff;
    border-bottom: 1px dashed #ccc;
}

ul.single-column-features li span {
    float: right;
}

.pricing-table-column-footer {
    width: 100%;
    padding: 25px 20px;
    font-size: 16px;
    color: #222;
    font-weight: 700;
    text-align: left;
    font-family: "Raleway", sans-serif;
}

.free-pricing-table-column .pricing-table-column-footer a {
    color: #fff;
    background: #47b475;
    border-color: #5ca74f;
}
.pricing-table-column-footer a:hover {
    color: #fff;
    background: #f17663;
    border-color: #f17663;
}
.pricing-table-column-footer a {
    float: right;
    border: 1px solid #ccc;
    font-size: 16px;
    font-weight: 300;
    color: #444;
    border-radius: 5px;
    padding: 4px 15px;
    position: relative;
    top: -5px;
}
a:hover {
    text-decoration: none;
    color: #222;
}

.free-pricing-table-column .pricing-table-column-header .column-price span {
    color: #fff;
}
.pricing-table-column-header .column-price span {
    font-weight: 700;
    color: #f17663;
    font-size: 22px;
}

.pricing-table-column-header .column-title {
    font-size: 22px;
    background: #fff;
    color: #222;
    padding: 19px 20px;
}
h3 {
    font-size: 26px;
    line-height: 108%;
    padding-bottom: 23px;
}

.flat-section-title h2 {
    font-size: 38px;
    font-weight: 500;
}
h2 {
    font-size: 32px;
    line-height: 106%;
    padding-bottom: 25px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    color: #222;
    font-weight: 500;
    letter-spacing: .1px;
    display: block;
    margin: 0;
    width: 100%;
}

/* PRICING TABLE END */

/*SLIDER*/
.hero-header-1 {
    padding: 0px;
    background: #333333;
}

.hero-header-1 .slide-1, .hero-header-1 .slide-2, .hero-header-1 .slide-3 {
    padding: 60px 0px;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero-header-1 h1 {
    font-weight: 600;
    color: #FFFFFF;
    line-height: 1em;
}

h1 {
    font-size: 55px !important;
}

.hero-header-1 p {
    width: 80%;
    color: #CCCCCC;
    font-size: 18px;
    margin-top: 30px;
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 6px;
    height: 6px;
    margin: 5px 7px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #CCCCCC;
}
.hero-header-1 .owl-controls .owl-page span {
    background: rgba(255,255,255,0.3) !important;
    width: 50px !important;
    border-radius: 0px !important;
    height: 2px !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.bttn-blue {
    background: #2e71f2;
    color: #FFFFFF;
}
.bttn-small {
    font-size: 0.67em;
    padding: 10px 24px 7px 24px;
}
.bttn75 {
    -ms-border-radius: 75px;
    border-radius: 75px;
}
.bttn {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    margin: 5px 0px;
    text-decoration: none;
    -webkit-transition: All 0.1s ease;
    transition: All 0.1s ease;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*SLIDER END*/



/*!* FOOTER*!*/

.footer {
    background:  #f2f2f2;
    border-top: 1px solid #d9d9d9;
    padding: 60px 0 0;
}

.footer .footer-top {
    padding-bottom: 30px;
    border-bottom: 1px solid #d9d9d9;
}

.footer .footer-title {
    font-size: 14px;
}
.underline {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 22px;
}

.footer .ul {
    padding-left: 0;
}
dl, ol, ul {
    list-style-position: outside;
}

footer ul li a {
    font-size: 11px;
    color: #787878;
}
.btn, .footer ul li a, .st-btn {
    text-transform: uppercase;
}

.underline::after {
    content: "";
    width: 32px;
    height: 1px;
    background: #c2c2c2;
    position: absolute;
    bottom: 0;
    left: 0;
}
.footer .footer-desc {
    color: #787878;
    line-height: 22px;
}

.mb20 {
    margin-bottom: 20px !important;
}

.footer .footer-middle {
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 30px;
}

.footer .footer-middle a {
    color: #787878;
}
.pr10 {
    padding-right: 10px;
}
.pl10 {
    padding-left: 10px;
}

.footer .footer-middle .footer-title {
    line-height: 30px;
    color: #787878;
}
.footer .footer-title {
    font-size: 14px;
    letter-spacing: 1.5px;
}
.lowercase {
    text-transform: lowercase !important;
}

.footer .footer-last {
    padding: 20px 0;
    background: #2b2c2d;
    color: #d9d9d9;
    font-size: 11px;
}

.footer .footer-last a {
    color: #787878;
}
.mr10 {
    margin-right: 10px;
}

.footer .footer-desc {
    color: #787878;
    line-height: 22px;
}

.scroll-to-top {
    position: fixed;
    bottom: -50px;
    right: 15px;
    width: 40px;
    height: 40px;
    background: #2b2c2d;
    color: #fff;
    opacity: .75;
    text-align: center;
    display: block;
    z-index: 100;
    font-size: 26px;
    line-height: 40px;
    cursor: pointer;
}

.footer .footer-middle .fa {
    font-size: 16px;
}

/*footer, .footer {*/
    /*background-color: #263238;*/
/*}*/

/*footer p, .footer p {*/
    /*max-width: 350px;*/
    /*font-size: 14px;*/
    /*color: white;*/
/*}*/

/*footer .logo, .footer .logo {*/
    /*height: 40px;*/
    /*margin-bottom: 18px;*/
    /*background-color: beige;*/
/*}*/

/*footer ul.social, .footer ul.social {*/
    /*margin-top: 10px;*/
    /*display: inline-block;*/
/*}*/

/*footer ul.social li:first-child, .footer ul.social li:first-child {*/
    /*padding-right: 10px;*/
/*}*/
/*footer ul.social li, .footer ul.social li {*/
    /*display: inline-block;*/
    /*font-weight: 300;*/
    /*font-size: 15px;*/
    /*color: white;*/
/*}*/

/*footer ul.sitemap li a:hover, footer ul.info li a:hover, .footer ul.sitemap li a:hover, .footer ul.info li a:hover {*/
    /*color: #3367D6;*/
/*}*/
/*footer ul.sitemap li a, footer ul.info li a, .footer ul.sitemap li a, .footer ul.info li a {*/
    /*color: #F6F6F6;*/
    /*font-family: "Roboto", sans-serif;*/
    /*font-size: 14px;*/
    /*line-height: 26px;*/
    /*font-weight: 300;*/
/*}*/
/*a:hover {*/
    /*text-decoration: none;*/
    /*color: #444444;*/
    /*transition: color .4s ease;*/
/*}*/

/*footer .text.small, .footer .text.small {*/
    /*padding: 50px 25px;*/
/*}*/

/*.margin-bottom-small {*/
    /*margin-bottom: 18px !important;*/
/*}*/
/*[class~="weight-300"] {*/
    /*font-weight: 300;*/
/*}*/
/*[class~="white"] {*/
    /*color: white !important;*/
/*}*/
/*footer h4, .footer h4 {*/
    /*margin-top: 18px;*/
/*}*/
/*footer h4 {*/
    /*font-size: 18px;*/
    /*line-height: 22px;*/
/*}*/

/*footer .text, .footer .text {*/
    /*padding: 50px;*/
/*}*/

/*!* FOOTER END*!*/

/*FEATURES*/

.subh-basic-dark {
    color: #000;
}
.subh-basic-dark, .subh-basic-light {
    font-size: 16px ;
    font-weight: 500 ;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    display: block;
}

.margin-top20 {
    margin-top: 20px !important;
}

.margin-top30 {
    margin-top: 30px !important;
}

.center-block-1, .center-block-2, .center-block-3, .head-center {
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
    margin-top: 20px;
    margin-bottom: 20px;
}

.center-block-1, .head-center {
    width: 540px;
}

.all-details-wrapper {
    margin-top: 60px;
}

.section-padding {
    padding: 120px 0;
}

.all-details-wrapper .fa{
    font-size: 60px;
    color:#47b475;
}

.all-details-wrapper p{
    line-height: 1.8em;
}

.details{
    background-color: white;
}


/*PROMO*/

.promo-5 {
    /*background: #2e71f2;*/
    background: linear-gradient(to left,#02AAB0,#00CDAC);

    font-family: 'Roboto', sans-serif;
}
.bg-cover-simple {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
}
.section-padding-small {
    padding: 60px 0px;
}

.center-block-1, .head-center {
    width: 540px;
}
.head-center, .center-block-1, .center-block-2, .center-block-3 {
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
    margin-top: 20px;
    margin-bottom: 20px;
}

.promo-5 .subh-basic-light {
    color: white;
    font-size: 24px;
}
.subh-basic-light {
    color: #DDDDDD;
}
.subh-basic-light, .subh-basic-dark {
    font-size: 14px ;
    font-family: 'Hind Madurai', 'Segoe UI', 'Helvetica Neue', sans-serif;
    font-weight: 600 !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    display: block;
}

.promo-5 p {
    font-size: 22px;
    font-weight: 400;
}
.margin-top30 {
    margin-top: 30px !important;
}
.text-white {
    color: #FFFFFF !important;
}
.font-playfair {
    font-family: 'Playfair Display', 'Segoe UI', 'Helvetica Neue', serif;
}

.bttn-white {
    background: #FFFFFF;
    color: #333333;
}
.bttn-shadow {
    box-shadow: 0px 5px 30px rgba(0,0,0,0.3);
}
.bttn-small {
    font-size: 0.67em;
    padding: 10px 24px 7px 24px;
}
.bttn75 {
    border-radius: 5px;
}
.bttn {
    /*font-family: 'Poppins', sans-serif;*/
    display: inline-block;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    margin: 5px 0px;
    text-decoration: none;

    transition: All 1s ;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding:15px;

}
.margin-top30 {
    margin-top: 30px !important;
}
.letter-spacing2 {
    letter-spacing: 2px !important;
}

.bttn:hover{
    background:  #03f6ff;
}


/*2 SLOGAN*/

.slogan h3{
    max-width: 800px;
    margin:0 auto 70px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;

}

/*2 SLOGAN END*/